server:
  port: 8081
spring:
  profiles:
    active: test
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    hikari:
      maximum-pool-size: 100
      minimum-idle: 15
      connection-timeout: 30000
      idle-timeout: 180000
  jpa:
    hibernate:
      naming:
        physical-strategy: com.truechain.task.core.ImprovedNamingStrategy
      ddl-auto: none
    show-sql: false
  http:
    multipart:
      max-file-size: 50Mb
      max-request-size: 50Mb
logging:
  level:
    root: info
app:
  swagger:
    enable: true
  token:
    header: "Token"
  agent:
    header: "Agent"

---
spring:
  profiles: dev
  datasource:
    url: jdbc:mysql://47.95.252.37:3308/task_platform?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: true0614
  redis:
    host: 127.0.0.1
    port: 6379
    password: 123456
app:
  upload:
    file-path: D://

---
spring:
  profiles: test
  datasource:
    url: jdbc:mysql://47.95.252.37:3308/task_platform?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: true0614
  redis:
    host: 127.0.0.1
    port: 6379
    password: true0614
  jpa:
    hibernate:
      ddl-auto: update
app:
  upload:
    file-path: /home/work/data/upload
springfox:
  documentation:
    swagger:
      v2:
        host: www.phptrain.cn/admin
logging:
  path: /home/work/data/log/@pom.artifactId@
  file: @pom.artifactId@.log
